.Homepage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    align-content: center;
    margin:8px;
}

.Homepage h1{
    font-family:"Canela-Regular-Trial";
    font-size:180px ;
    letter-spacing: 8px;
    color: #252525;
}

.Homepage p{
    font-family: "Raleway";
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 48px;
    font-weight: lighter;
}

.Homepage span{
    display: inline-block;
}