.Navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Navigation_links{
    width : 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Navigation_links a{
    text-decoration: none;
    font-size: 24px;
    color: #252525;
    font-family: 'Raleway';
}