*{
    margin: 0;
    padding: 0;
}


.gradient_bg
{
background: rgb(116,105,182);
background: -moz-linear-gradient(0deg, rgb(255, 255, 255) 0%, #252525 53%);
background: -webkit-linear-gradient(0deg,rgb(255, 255, 255) 0%, #252525 53%);
background: linear-gradient(0deg, rgb(255, 255, 255) 0%, #252525 53%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7469b6",endColorstr="#ffe6e6",GradientType=1);
}

