@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Canela-Regular-Trial";
  src: url("./assets/fonts/Canela-Regular-Trial.otf") format("woff2"),
       url("./assets/fonts/Canela-Regular-Trial.otf") format("woff");
  font-weight: normal;
  font-style: normal;
}


.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}

html,body{
  width: 100%;
  height : 100%;
  padding: 0;
  margin : 0;
  
}
