.Container {
    position: absolute;
    top: 0;
    left: 0;
    width: 248px;
    height: 399.28px;
    background-color: #252525;
    border-radius: 16px;
    box-shadow: 5px 5px 10px #252525 ;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease, z-index 0.3s ease;
    opacity: 0.9;
}

/* Horizontal stacking effect */
.Container:nth-child(1) {
    transform: translateX(0px); /* The top card is centered */
    z-index: 3; 
    opacity: 1;
}

.Container:nth-child(2) {
    transform: translateX(-30px) translateY(10px); 
    z-index: 2;
    opacity: 0.8;
  
}

.Container:nth-child(3) {
    transform: translateX(-60px);
    z-index: 1;
    opacity: 0.6;
}

.Container:nth-child(4) {
    transform: translateX(-90px); /* Even further offset */
    z-index: 0;
    opacity: 0.4;
}

.Container:nth-child(5) {
    transform: translateX(30px); /* Offset to the right */
    z-index: 1;
    opacity: 0.7;
}

/* Hover effect to bring the top card to the front */
.Container:hover {
    transform: translateY(-10px) scale(1.05); /* Lift and enlarge on hover */
    z-index: 4; /* Bring to front */
    opacity: 1;
}

/* Arrow mark container styling */
.arrow_mark_container {
    width: 116.8px;
    height: 59.4px;
    background-color: #f0935d;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.arrow_mark_container p {
    font-family: "Raleway";
    font-size: 14px;
}

/* Container content (text) styling */
.Container_Content {
    color: white;
    display: flex;
    flex-direction: row;
}

.Container_Content p {
    font-size: 32px;
    color: white;
    font-family: 'Canela-Regular-Trial';
}
